<%- partial('_partial/head') %>
<body>
      <div class="outer">
        <section id="main">
          <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
          <%- body %>
          <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
        </section>
          <%- partial('_partial/widget') %>
          <img class="sidebar-btn" src="/images/right.png"/>
          <%- partial('partials/back2top', {}) %>
      </div>
    <%- partial('_partial/after-footer') %>
</body>
</html>